env
/fab/__pycache__
/fabapp/__pycache__
/fabapp/migrations
.vscode
.env
fabenv
media
/exbrapp/__pycache__
/exbrapp/migrations
/fabrapp/__pycache__
/fabrapp/migrations
/review/migrations
/review/__pycache__